body{ 
    background-image: url(tree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    }
.navbar-brand{
    color:green;
    margin-left: 25em;
}
#map {
height: 500px;
width: 100%;
margin: 0;
padding: 0;
}
/* h1{
    padding: 1em;
  margin-left: 11em;
  color: black;
}
.userInput{
    color: black;
    font-size: 1.5em;
   justify-content: center;
   margin-left: 17em;
}
.userName{
    margin-block-end: 2em;  
}
.street{
    margin-top: 2em; 
    margin-bottom: 2em; 
}
.bin{
    justify-content: center;
    margin-left: 20em;
}
.checkbox{
    margin-left: 5em;   
}
.submit{
    margin-left: 5em;  
}
.adminlist{
    border: solid;
}
table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    color: black;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
   */
  